/**TEMP STYLES**/

.container-fluid {
    border: 1px solid black;
}

.container {
    border: 1px solid red;
}

.col-md-4{
border: 1px solid green;
}
.col-md-8{
    border: 1px solid violet;
}

.col-md-9{
    border: 1px solid cyan;
}

.col-md-3{
    border: 1px solid darkolivegreen;
}
.section-header{
    border: 1px solid orange;
}


